@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

*,
body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS"!important;
}

body {
  background: black!important;
  color: white!important;
}
